* {
  margin: 0px;
  padding: 0px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.logo {
  margin: 40px 0 0 110px;
  font-weight: 800;
  text-align: left;
}

.home-main {
  background-color: #896AF9;
  width: 100%;
}

.header-container {
  display: flex;
  width: 804px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 140px auto 80px;
}

.heading {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  text-shadow: 2px 2px 0px #896AF9;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

.description {
  color: #FFF;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.subscribe-btn {
  width: 220.09px;
  height: 70.4px;
  padding: 15.5px 27.09px 15.9px 26px;
  border-radius: 24px;
  box-shadow: 4px 4px 0px -1px #896AF9;
  background-color: #fff;
  color: #896AF9;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-image {
  padding-bottom: 120px;
  object-fit: contain;
}

.discover-container {
  padding: 112px 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF9E6;
  color: #000;
  background-image: url(../../assets/bg-home.png);
  background-repeat: no-repeat;

  & button {
    border-radius: 24px;
    border: 1px solid #896AF9;
    background: #fff;
    box-shadow: 4px 4px 0px -1px #896AF9;
    color: #896AF9;
    margin: 48px 0 0px;
    padding: 15px 20px;
    font-size: 23px;
    font-weight: 900;
  }
}

.discover-content {
  width: 800px;
}

.discover-content h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.discover-content h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 25px 0;
}

.discover-content p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.step-wraper {
  display: flex;
  column-gap: 30px;
  margin-top: 80px;
}

.step-div {
  width: 388px;
}

.step-div img {
  width: 96px;
  height: 96px;
  margin-bottom: 24px;
}

.step-div h4 {
  font-size: 28px;
  font-weight: 600;
}

.step-div h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.step-div p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mbl-footer {
  display: none;
}

.footer {
  padding: 80px 64px;
  background: #fff;
  width: 100%;

  & hr {
    background: #000;
    margin-bottom: 32px;
  }

  & div {
    text-align: left;
    font-size: 14px;

    & a {
      color: #000;
      margin-right: 24px;
    }

    & p {
      text-align: right;
      color: #000;
    }
  }
}

@media (max-width:550px) {
  .logo {
    margin: 20px 0 0 16px;
  }

  .header-container {
    width: 100%;
    gap: 0px;
    margin: 40px 0px 80px;
  }

  .heading {
    font-size: 40px;
    width: 328px;
  }

  .description {
    font-size: 20px;
    padding: 24px 30px;
  }

  .subscribe-btn {
    width: initial;
    height: initial;
    padding: 10px 24px;
    border-radius: 12px;
    font-size: 20px;
  }

  .home-image {
    padding-bottom: 55px;
  }

  .discover-container {
    padding: 56px 16px;
    background-image: none;

    & button {
      border-radius: 12px;
      margin: 48px 0 66px;
      padding: 10px 24px;
      font-size: 20px;
    }
  }

  .discover-content {
    width: 100%;
  }

  .discover-content h1 {
    font-size: 40px;
    margin: 16px 0 22px;
  }

  .step-wraper {
    flex-direction: column;
    column-gap: 0px;
    row-gap: 48px;
    text-align: center;
  }

  .step-div h4 {
    font-size: 24px;
  }

  .step-div h3 {
    font-size: 24px;
  }

  .mbl-footer {
    display: block;
    background: #fff;
    text-align: left;
    color: #000;
    width: 100%;
    padding: 48px 20px 0;

    & h4 {
      font-weight: 700;
      margin-bottom: 32px;
    }

    & a {
      text-decoration: none;
      color: #000;
      display: block;
      margin-bottom: 16px;
    }

    & label {
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      display: block;
    }

    & input {
      width: 100%;
      padding: 12px;
      background-color: transparent;
      border: 1px solid #000;
      margin-top: 13px;
    }

    & button {
      border: 1px solid #000;
      width: 100%;
      padding: 12px 0;
      text-align: center;
      background-color: transparent;
      font-size: 16px;
      color: #000;
      margin: 16px 0 12px;
    }

    & p {
      font-size: 12px;
      line-height: 150%;
    }
  }

  .footer {
    padding: 48px 16px;

    & hr {
      margin-bottom: 24px;
    }

    & div {

      & a {
        margin-right: 0px;
        display: block;
        margin-bottom: 16px;
      }

      & p {
        padding-top: 16px;
        text-align: left;
      }
    }
  }

}